@media (min-width: 901px) {


    /* All pages */


    body {
        margin: 0px;
    }


    .navbar {
        height: 64px;
        padding-left: 24px;
        padding-right: 24px;
    }


    #logo {
        height: 30px;
        padding-top: 18px;
        margin-left: -10px;
    }


    q {
        margin-top: 32px;
        padding: 32px;
        background-color: #f6f6f6;
    }


    footer {
        margin-top: 120px;
        padding: 74px 24px 12px 24px;
    }


    /* Homepage */


    .card {
        padding: 24px;
    }


    .card img {
        width: 100%;
    }


    .description {
        display: inline-block;
    }


    .stream {
        padding: 120px 0px;
    }


    /* Post Pages */


    .postTitle {
        padding: 0px 24px;
    }


    .postAside {
        padding: 0px 24px;
    }


    .author p:last-child {
        margin-bottom: 0px;
    }


    .author .avatar {
        width: 100%;
    }


    .social {
        margin-top: 24px;
    }


    .social img {
        max-width: 24px;
        padding-right: 16px;
        display: inline;
    }


    .bio {
        padding: 0px 24px;
        padding-left: 56px;
    }


    figure {
        margin: 0px;
        margin-top: 32px;
        padding: 0px;
    }


    .bio img {
        width: 100%;
    }


}

@media (min-width: 600px) and (max-width: 900px) {


    body {
        margin: 0px;
    }


    footer {
        margin-top: 120px;
        padding: 74px 24px 12px 24px;
    }


    #logo {
        height: 30px;
        padding-top: 18px;
        margin-left: -10px;
    }


    q {
        margin-top: 32px;
        padding: 32px;
        background-color: #f6f6f6;
    }


    /* Homepage */


    .card {
        padding: 24px;
    }


    .card img {
        width: 100%;
    }


    .description {
        display: inline-block;
    }


    .navbar {
        height: 64px;
        padding-left: 24px;
        padding-right: 24px;
    }


    .stream {
        padding: 120px 0px;
    }


    /* Post Pages */


    .postTitle {
        padding: 0px 24px;
    }


    .postAside {
        padding: 0px 24px;
    }


    .author p:last-child {
        margin-bottom: 0px;
    }


    .author .avatar {
        width: 100%;
    }


    .social {
        margin-top: 24px;
    }


    .social img {
        max-width: 24px;
        padding-right: 16px;
        display: inline;
    }


    .bio {
        padding: 0px 24px;
        padding-left: 56px;
    }


    figure {
        margin: 0px;
        margin-top: 32px;
        padding: 0px;
    }


    .bio img {
        width: 100%;
    }


}

@media (max-width: 375px) {


    body {
        margin: 0px;
    }


    .navbar {
        height: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }


    #logo {
        height: 30px;
        padding-top: 18px;
        margin-left: -4px;
    }


    q {
        margin-top: 32px;
        padding: 32px;
        background-color: #f6f6f6;
    }


    footer {
        margin-top: 120px;
        padding: 74px 24px 12px 24px;
    }


    /* Homepage */


    .card {
        padding: 24px;
    }


    .card img {
        width: 100%;
    }


    .description {
        display: inline-block;
    }


    .stream {
        padding: 60px 0px;
    }


    /* Post Pages */


    .postTitle {
        margin-top: 0px;
        padding: 0px 24px;
    }


    .postAside {
        padding: 0px 24px;
    }


    .author p:last-child {
        margin-bottom: 0px;
    }


    .author .avatar {
        width: 100%;
    }


    .social {
        margin-top: 24px;
    }


    .social img {
        max-width: 24px;
        padding-right: 16px;
        display: inline;
    }


    .bio {
        padding: 0px 24px;
        margin-top: 32px;
    }


    figure {
        margin: 0px;
        margin-top: 32px;
        padding: 0px;
    }


    .bio img {
        width: 100%;
    }


}
