@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	
	background: 

			 linear-gradient( 
			 		rgba(0, 0, 0, 0.5),
			 		rgba(0, 0, 0, 0.5)
			 ),
		     url("../img/clouds.jpg");

	background-size: 200% auto;
}


#logo {
	height: 80px;
}

.grid {
	max-width: 1200px;
	margin: 0px 120px;
}


#banner {
	margin: 72px auto;
	text-align: center;
}

#widgetWeather {
	color: #000000;
	text-align: left;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	width: 434.5px;
	margin: 0px auto;
}

label {
	font-size: 13px;
	font-family: 'Roboto', sans-serif;	
	font-weight: 600;
	color: #ffffff;
}

#zipcode {
	height: 56px;
	width: 100%;
	margin: 8px 0px 12px 0px;
	border: 0px;
	border-radius: 4px;
	background-color: #f6f6f6;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #010101;
	display: inline-block;
	box-sizing: border-box;
	padding: 0px 12px;


}

#feelings {

	width: 100%;
	height: 200px;
	margin: 8px 0px 12px 0px;
	border: 0px;
	border-radius: 4px;
	background-color: #f6f6f6;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #010101;
	display: inline-block;
	box-sizing: border-box;
	padding: 12px;

}


#submit {
	padding: 12px 24px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #ffffff;
	border: 0px;
	border-radius: 4px;
	background-color: #4285F4;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#getWeather {
	
	background-color: rgba(255, 255, 255, 0.2);
	padding: 32px;
	width: 390px;
	margin: 100px auto;
	border-radius: 4px;
	color: #ffffff;
}


#details{
	display: flex;
	justify-content: space-between;
}

.flexCol {
	flex-direction: column;
	width: 50%;
	
}


#moreInfo {
	text-align: right;
}

#getWeather h2 {
	font-size: 56px;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	margin: 0px;
	margin-bottom: 36px;
	margin-left: -5px;
}

#getWeather h4 {
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	margin: 8px 0px;
	line-height: 22px;
}

#getWeather p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 28px;
	margin-top: 12px;
}

#getWeather span {
	font-weight: 800;
}

.hide {
	visibility: hidden;
}